@import "settings";
@import "foundation";
@import "foundation-icons.css";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
.row {
	margin-top: 50px;
	margin-bottom: 50px;	
}

#avatar {
	border-radius:50%;
}

.parallax {     
	padding:100px;
	min-height:300px;     
	width:100%; 
	text-align: center;  
	h1, h2, h3 {
		color:white;
	}

	.author {
		margin-left:100%;
		text-align:right;
	}
}

.icon {	
	height:60px;
	width:60px;
	line-height:50px;
	border-radius:50%;
	border: solid #000 1px;
	text-align:center;
	font-size:30px;
}

#apps {
	margin-top: 50px;
	margin-bottom: 50px;	
	text-align:center;
}

footer {
	padding-top:50px;
	padding-bottom:50px;
	min-height: 100px;
	background-color:$primary-color;
	color:$secondary-color;
	text-align: center;

	a {
		color: $secondary-color;
	}
}